/****************** CUSTOM CSS ******************/

/* navigation */
.nav-style {width: 100%; padding-left: 0;}

.nav-style li {
    width: 100%;
}
.nav-style li:hover {
    background-color: white;
    color: black;
}

.nav-style li a:hover {
    color: black;
    display: block;
}

.nav-style li a {
    padding: 15px 0 15px 20px;
    color: #ffffff;
    display: block;
}

.nav-style li.active-link {
    background-color: white;
}

.nav-style li.active-link a {
    color: black;
    font-weight: bold;
}



/* footer */
.ft-txt {
    font-size: 0.8rem;
    color: #fff;
    line-height: normal;
    font-weight: normal;
    position: absolute;
    bottom: 10px;
    left: 20px;
}


.nav-style li:nth-of-type(1) a,
.nav-style li:nth-of-type(2) a,
.nav-style li:nth-of-type(3) a {
    position: relative;
    padding-left: 50px;
    overflow:visible;
}

.nav-style li:nth-of-type(1) a:before {
    content: '';
    display: inline-block;
    clear: both;
    background-image: url('./assets/images/ico_notice_w.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top:15px;
    left:20px;

}

.nav-style li:nth-of-type(2) a:before {
    content: '';
    display: inline-block;
    clear: both;
    background-image: url('./assets/images/ico_member_w.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top:15px;
    left:20px;

}

.nav-style li:nth-of-type(3) a:before {
    content: '';
    display: inline-block;
    clear: both;
    background-image: url('./assets/images/ico_event_w.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top:15px;
    left:20px;

}

.nav-style li:nth-of-type(1) a:hover:before, .nav-style li:nth-of-type(1) a:active:before, .nav-style li:nth-of-type(1) a:focus:before {
    background-image: url('./assets/images/ico_notice.svg');
}

.nav-style li:nth-of-type(2) a:hover:before, .nav-style li:nth-of-type(2) a:active:before, .nav-style li:nth-of-type(2) a:focus:before {
    background-image: url('./assets/images/ico_member.svg');
}

.nav-style li:nth-of-type(3) a:hover:before, .nav-style li:nth-of-type(3) a:active:before, .nav-style li:nth-of-type(3) a:focus:before {
    background-image: url('./assets/images/ico_event.svg');
}


