@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    color: #333;
    font-size: 16px;
}

select, input, textarea, button {
    font-family: inherit;
}

input, textarea {
    font-weight: 100;
}

img {
    vertical-align: top;
    image-rendering: -webkit-optimize-contrast;
}

a {
    color: #333;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

br {
    color: transparent;
    opacity: 0;
}

ul {
    list-style-type: none !important;
    text-decoration: none;
}

ul li {
    list-style-type: none !important;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.text-point {
    color: #283eae;
}

.bg-point {
    background-color: #283eae;
}

/* 버튼 */
.btn {
    width:100px;
    --bs-btn-padding-y: 0.52rem;
    --bs-btn-border-radius:0 !important;
    border-radius:0 !important;
}

.btn-point {
    --bs-btn-color: #fff;
    --bs-btn-bg: #283eae;
    --bs-btn-border-color: #283eae;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #192978;
    --bs-btn-hover-border-color: #192978;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #192978;
    --bs-btn-active-border-color: #192978;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #283eae;
    --bs-btn-disabled-border-color: #283eae;}

.btn-outline-point {
    --bs-btn-color: #283eae;
    --bs-btn-border-color: #283eae;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #283eae;
    --bs-btn-hover-border-color: #283eae;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #283eae;
    --bs-btn-active-border-color: #283eae;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #283eae;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #283eae;
    --bs-gradient: none;}


/* table */
.table-custom {text-align: center;}
.table-custom thead th {padding: 15px 0; border-top:2px solid #555; border-bottom:1px solid #555;}
.table-custom tbody td {padding: 15px 0;}
.table-custom tbody td:nth-of-type(2) {text-align: left; margin-left: 20px;}

.bg-login {
    background: -webkit-linear-gradient(#f1f3ff, #cce7fa, #192978); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f1f3ff, #cce7fa, #192978); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f1f3ff, #cce7fa, #192978); /* For Firefox 3.6 to 15 */
    background:  linear-gradient(#f1f3ff, #cce7fa, #192978) /* 기본 */
}

